bin/Debug/net8.0/TextAdventure.dll
bin/Debug/net8.0/TextAdventure.exe
bin/Debug/net8.0/TextAdventure.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/TextAdventure.AssemblyInfo.cs
obj/Debug/net8.0/TextAdventure.AssemblyInfoInputs.cache
obj/Debug/net8.0/TextAdventure.dll
obj/Debug/net8.0/TextAdventure.pdb
obj/Debug/net8.0/TextAdventure.sourcelink.json
obj/Debug/net8.0/ref/TextAdventure.dll
obj/Debug/net8.0/refint/TextAdventure.dll
obj/Debug/net8.0/TextAdventure.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/TextAdventure.assets.cache
obj/Debug/net8.0/TextAdventure.AssemblyInfoInputs.cache
obj/Debug/net8.0/TextAdventure.AssemblyInfo.cs
obj/Debug/net8.0/TextAdventure.AssemblyInfoInputs.cache
obj/Debug/net8.0/TextAdventure.AssemblyInfo.cs
obj/Debug/net8.0/*
obj/Debug/net8.0/TextAdventure.AssemblyInfo.cs
obj/Debug/net8.0/TextAdventure.AssemblyInfoInputs.cache
